<h3>Navbar</h3>
<ul>
    <li><a href="{{ url_for('index')}}">Home</a></li>
    <li><a href="{{ url_for('all_facts')}}">View All Facts</a></li>
    <li><a href="{{ url_for('zip_search')}}">Search by Zipcode</a></li>
    <li><a href="{{ url_for('name_search')}}">Search by Name</a></li>
    <li><a href="{{ url_for('all_names')}}">Names Searched</a></li>
</ul>

{% block content %}
{% endblock %}

{% block content2 %}
{% endblock %}
<hr>
<p><em>Hope you enjoy this app -- vinhbl@umich.edu -- 2018</em></p>

{% block footer %}
{% endblock %}
