{% extends "base.html" %}

{% block content %}
<h2>Tell us a fun fact about where you're from!</h2>
<form action="{{ url_for('index') }}" method="POST">
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.username.label() }}{{ form.username() }}<br>
    {{ form.zipcode.label() }}{{ form.zipcode() }}<br>
    {{ form.fact.label() }}{{ form.fact() }}<br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>
{% endblock %}

{% block content2 %}
<div>
{% for m in get_flashed_messages() %}
{{ m }} <br>
{% endfor %}
</div>
{% endblock %}

{% block footer %} <center><em>homepage</center></em> {% endblock %}
